<div *ngIf="snacks" class="button-container">
  <button *ngFor="let snack of snacks" mat-raised-button color="primary" (click)="onSelect(snack)" [ngStyle]="{'background' : 'url(' + snack.pic + ')', 'background-size': 'cover'}">
    <span class="namelabel">{{snack.name}}</span>
  </button>
</div>
<button *ngIf="selectedAvatar" mat-raised-button color="secondary" routerLink="/transactions/{{selectedAvatar.entityId}}" >Transactions</button>
<button mat-raised-button color="secondary" (click)="goBack()" >Cancel</button>
